#what .items {
  display: block;
  padding: 1rem;
}
/* Align icons to left */
/* #what .items .item {
  display: flex;
  text-align: left;
} */
/* Position Icon */
/* #what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
} */

/* Smartphone */
@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }
  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  #nabar ul {
    padding: 0.5rem;
  }
  #showcase .l-heading {
    font-size: 2rem;
  }
  #showcase .lead {
    font-size: 1rem;
  }
  #showcase .showcase-content {
    margin-top: -2rem;
  }
  #who {
    flex-direction: column;
  }
  #who .who-img {
    height: 200px;
  }
  #who {
    text-align: center;
  }
  #our-work .items img {
    width: 90%;
  }

  #contact {
    flex-direction: column;
  }
  #contact .map {
    height: 200px;
    border-top: 4px solid #333;
  }
  #contact h2,
  #contact p {
    text-align: center;
  }
}
